header.centered {
	font-family: 'Cairo', sans-serif;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
	min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vh;
    display: flex;
    align-items: center;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.jumbotron {
	background-color: rgb(220,220,220,0.3)!important;
    margin: 0 auto;
    padding: 3rem 2rem!important;
}

h1{
	margin-bottom: 0.5rem!important;
}

.container {
    text-align: center;
}

.row{
	margin-right: 0px!important;
	margin-left: 0px!important;
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}

.btn {
  	border-radius: 150px;
}

.btn-primary {
  	background-color: rgba(186,85,211,0.5)!important;
  	border-color: rgba(186,85,211,0.05)!important; 
}

.btn-primary:hover {
  	border-width: 4px;
  	cursor: pointer;
}

.btn-sm{
	margin-top: 15px!important;
	background-color: rgba(221,160,221,0.5)!important;
}
