header.centered {
	font-family: 'Cairo', sans-serif;
	background: url("27269477-polygon-wallpapers.jpg");
	min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vh;
    display: flex;
    align-items: center;
}

.jumbotron {
	background-color: rgb(220,220,220,0.3)!important;
    margin: 0 auto;
    padding: 3rem 2rem!important;
}

h1{
	margin-bottom: 0.5rem!important;
}

.container {
    text-align: center;
}

.row{
	margin-right: 0px!important;
	margin-left: 0px!important;
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}

.btn {
  	border-radius: 150px;
}

.btn-primary {
  	background-color: rgba(186,85,211,0.5)!important;
  	border-color: rgba(186,85,211,0.05)!important; 
}

.btn-primary:hover {
  	border-width: 4px;
  	cursor: pointer;
}

.btn-sm{
	margin-top: 15px!important;
	background-color: rgba(221,160,221,0.5)!important;
}
